conversappia.html
{
  "name": "Conversapp • Chat IA (estável, v2 Assistants)",
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [ -700, 0 ],
      "parameters": {
        "httpMethod": "POST",
        "path": "conversapp-chat",
        "responseMode": "responseNode"
      }
    },
    {
      "id": "tokens",
      "name": "Supabase (Tokens)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [ -480, 0 ],
      "credentials": { "supabaseApi": { "id": "REPLACE_ME", "name": "Conversapp GPT - Service Key" } },
      "parameters": {
        "operation": "getAll",
        "tableId": "Tokens OpenAI - Conversapp",
        "returnAll": true,
        "filters": {
          "conditions": [
            { "keyName": "account_id", "condition": "eq", "keyValue": "={{ $('Webhook').item.json.query.iddaconta }}" }
          ]
        }
      }
    },
    {
      "id": "ifHasToken",
      "name": "IF • Tem token?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [ -260, 0 ],
      "parameters": {
        "conditions": {
          "options": { "version": 2, "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.openai_token }}",
              "operator": { "type": "string", "operation": "notEmpty", "singleValue": true },
              "rightValue": ""
            }
          ]
        }
      }
    },
    {
      "id": "noTokenResponse",
      "name": "Respond • Sem token",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [ -80, 200 ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"error\",\"message\":\"Token da OpenAI não encontrado para esta conta. Cadastre o token para usar o chat.\"}"
      }
    },
    {
      "id": "ifHasAssistant",
      "name": "IF • Já tem assistant?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [ -40, 0 ],
      "parameters": {
        "conditions": {
          "options": { "version": 2, "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.openai_assistant_id }}",
              "operator": { "type": "string", "operation": "notEmpty", "singleValue": true },
              "rightValue": ""
            }
          ]
        }
      }
    },
    {
      "id": "createAssistant",
      "name": "HTTP • Criar Assistant",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 160, 200 ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/assistants",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Supabase (Tokens)').item.json.openai_token }}" },
            { "name": "OpenAI-Beta", "value": "assistants=v2" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\":\"gpt-4o\",\n  \"name\":\"Assistente Conversapp - {{ $('Supabase (Tokens)').item.json.account_id }}\",\n  \"instructions\":\"Você é um assistente de IA especializado. Responda sempre com base no histórico contextual enviado. Se não houver dados suficientes, diga que não possui informações suficientes. Seja direto e útil.\"\n}",
        "options": { "timeout": 120000 }
      }
    },
    {
      "id": "updateAssistantId",
      "name": "Supabase • Salvar assistant_id",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [ 360, 200 ],
      "credentials": { "supabaseApi": { "id": "REPLACE_ME", "name": "Conversapp GPT - Service Key" } },
      "parameters": {
        "operation": "update",
        "tableId": "Tokens OpenAI - Conversapp",
        "filters": {
          "conditions": [
            { "keyName": "id", "condition": "eq", "keyValue": "={{ $('Supabase (Tokens)').item.json.id }}" }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "openai_assistant_id", "fieldValue": "={{ $json.id }}" }
          ]
        }
      }
    },
    {
      "id": "chatThreadsGet",
      "name": "Supabase (Threads)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [ 580, 0 ],
      "credentials": { "supabaseApi": { "id": "REPLACE_ME", "name": "Conversapp GPT - Service Key" } },
      "parameters": {
        "operation": "getAll",
        "tableId": "chat_threads",
        "returnAll": true,
        "filters": {
          "conditions": [
            { "keyName": "atendimento_id", "condition": "eq", "keyValue": "={{ $('Webhook').item.json.query.iddoatendimento }}" }
          ]
        }
      }
    },
    {
      "id": "ifHasThread",
      "name": "IF • Já tem thread?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [ 800, 0 ],
      "parameters": {
        "conditions": {
          "options": { "version": 2, "typeValidation": "strict" },
          "conditions": [
            {
              "leftValue": "={{ $json.openai_thread_id }}",
              "operator": { "type": "string", "operation": "notEmpty", "singleValue": true },
              "rightValue": ""
            }
          ]
        }
      }
    },
    {
      "id": "helenaToken",
      "name": "HTTP • Criar Token Temporário (WTS)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 1020, 200 ],
      "parameters": {
        "method": "POST",
        "url": "https://api.helena.run/core/v1/company/aa32a2f5-3fee-43ed-92dd-656d8bb1591d/tokens",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "pn_ZPp3hU2Cf99IjQSTfa4IK6x0JWDlwf9PmyXaPwpFg" },
            { "name": "accept", "value": "application/json" },
            { "name": "content-type", "value": "application/*+json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": { "parameters": [ { "name": "name", "value": "temporario" } ] }
      }
    },
    {
      "id": "wtsHistory",
      "name": "HTTP • Buscar Histórico (WTS)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 1240, 200 ],
      "parameters": {
        "url": "=https://api.wts.chat/chat/v1/session/{{ $('Webhook').item.json.query.iddoatendimento }}/message?PageSize=100",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ $json.token }}" },
            { "name": "accept", "value": "application/json" }
          ]
        }
      }
    },
    {
      "id": "threadCreate",
      "name": "HTTP • Criar Thread",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 1440, 200 ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/threads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Supabase (Tokens)').item.json.openai_token }}" },
            { "name": "OpenAI-Beta", "value": "assistants=v2" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        }
      }
    },
    {
      "id": "formatHistory",
      "name": "Code • Formatar Histórico",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 1660, 200 ],
      "parameters": {
        "jsCode": "// history do WTS\nconst items = $node[\"HTTP • Buscar Histórico (WTS)\"].json.items || [];\nconst ctx = items.map(msg => {\n  let t = '';\n  if (msg.type === 'TEXT' && msg.text) t = msg.text;\n  else if (msg.type === 'AUDIO' && msg?.details?.transcription?.text) t = `[Áudio] ${msg.details.transcription.text}`;\n  if (!t) return null;\n  const s = msg.direction === 'TO_HUB' ? 'Atendente' : 'Cliente';\n  return `${s}: ${t}`;\n}).filter(Boolean).join('\\n');\n\nconst context = ctx ? `Aqui está o histórico da conversa. Use este contexto para responder à próxima pergunta.\\n\\n---\\n${ctx}\\n---` : 'Esta é a primeira interação nesta conversa.';\n\nreturn [{ json: { content: context } }];"
      }
    },
    {
      "id": "msgContext",
      "name": "HTTP • Add Mensagem (contexto)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 1860, 200 ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.openai.com/v1/threads/{{ $('HTTP • Criar Thread').item.json.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Supabase (Tokens)').item.json.openai_token }}" },
            { "name": "OpenAI-Beta", "value": "assistants=v2" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "specifyBody": "json",
        "jsonBody": "={{ { \"role\":\"user\", \"content\": $json.content } }}",
        "options": { "timeout": 120000, "retry": { "maxTries": 3, "waitBetweenTries": 3000 } }
      }
    },
    {
      "id": "msgUser",
      "name": "HTTP • Add Mensagem (pergunta)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 2060, 200 ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.openai.com/v1/threads/{{ $('HTTP • Criar Thread').item.json.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Supabase (Tokens)').item.json.openai_token }}" },
            { "name": "OpenAI-Beta", "value": "assistants=v2" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "specifyBody": "json",
        "jsonBody": "={ \"role\":\"user\", \"content\":\"{{ $('Webhook').item.json.query.userMessage }}\" }",
        "options": { "timeout": 120000, "retry": { "maxTries": 3, "waitBetweenTries": 3000 } }
      }
    },
    {
      "id": "threadSave",
      "name": "Supabase • Salvar thread",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [ 2260, 200 ],
      "credentials": { "supabaseApi": { "id": "REPLACE_ME", "name": "Conversapp GPT - Service Key" } },
      "parameters": {
        "operation": "create",
        "tableId": "chat_threads",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "atendimento_id", "fieldValue": "={{ $('Webhook').item.json.query.iddoatendimento }}" },
            { "fieldId": "openai_thread_id", "fieldValue": "={{ $('HTTP • Criar Thread').item.json.id }}" }
          ]
        }
      }
    },
    {
      "id": "runCreate",
      "name": "HTTP • Executar Assistente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 1460, -200 ],
      "parameters": {
        "method": "POST",
        "url": "=https://api.openai.com/v1/threads/{{ $node['Supabase (Threads)'].json.openai_thread_id || $node['HTTP • Criar Thread'].json.id }}/runs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Supabase (Tokens)').item.json.openai_token }}" },
            { "name": "OpenAI-Beta", "value": "assistants=v2" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "specifyBody": "json",
        "jsonBody": "={ \"assistant_id\": \"{{ $('Supabase (Tokens)').item.json.openai_assistant_id }}\" }",
        "options": { "timeout": 120000 }
      }
    },
    {
      "id": "wait1",
      "name": "Wait 1s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [ 1660, -200 ],
      "parameters": { "amount": 1 }
    },
    {
      "id": "runStatus",
      "name": "HTTP • Verificar Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 1860, -200 ],
      "parameters": {
        "url": "=https://api.openai.com/v1/threads/{{ $node['Supabase (Threads)'].json.openai_thread_id || $node['HTTP • Criar Thread'].json.id }}/runs/{{ $('HTTP • Executar Assistente').item.json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Supabase (Tokens)').item.json.openai_token }}" },
            { "name": "OpenAI-Beta", "value": "assistants=v2" }
          ]
        }
      }
    },
    {
      "id": "ifDone",
      "name": "IF • Run finalizado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [ 2060, -200 ],
      "parameters": {
        "conditions": {
          "options": { "version": 2 },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "operator": { "type": "string", "operation": "regex", "singleValue": true },
              "rightValue": "^(completed|failed|cancelled)$"
            }
          ]
        }
      }
    },
    {
      "id": "messagesGet",
      "name": "HTTP • Buscar Mensagens",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 2260, -200 ],
      "parameters": {
        "url": "=https://api.openai.com/v1/threads/{{ $node['Supabase (Threads)'].json.openai_thread_id || $node['HTTP • Criar Thread'].json.id }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $('Supabase (Tokens)').item.json.openai_token }}" },
            { "name": "OpenAI-Beta", "value": "assistants=v2" }
          ]
        }
      }
    },
    {
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [ 2460, -200 ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\":\"success\",\n  \"response\":\"{{\n    ($json.data || [])\n      .filter(i => i.role === 'assistant')\n      .map(i => i.content && i.content[0] && i.content[0].text && i.content[0].text.value)\n      .find(v => !!v) || 'Sem resposta gerada.'\n  }}\"\n}"
      }
    }
  ],
  "connections": {
    "Webhook": { "main": [ [ { "node": "Supabase (Tokens)", "type": "main", "index": 0 } ] ] },
    "Supabase (Tokens)": { "main": [ [ { "node": "IF • Tem token?", "type": "main", "index": 0 } ] ] },
    "IF • Tem token?": {
      "main": [
        [ { "node": "IF • Já tem assistant?", "type": "main", "index": 0 } ],
        [ { "node": "Respond • Sem token", "type": "main", "index": 0 } ]
      ]
    },
    "IF • Já tem assistant?": {
      "main": [
        [ { "node": "Supabase (Threads)", "type": "main", "index": 0 } ],
        [ { "node": "HTTP • Criar Assistant", "type": "main", "index": 0 } ]
      ]
    },
    "HTTP • Criar Assistant": { "main": [ [ { "node": "Supabase • Salvar assistant_id", "type": "main", "index": 0 } ] ] },
    "Supabase • Salvar assistant_id": { "main": [ [ { "node": "Supabase (Threads)", "type": "main", "index": 0 } ] ] },
    "Supabase (Threads)": {
      "main": [
        [ { "node": "IF • Já tem thread?", "type": "main", "index": 0 } ]
      ]
    },
    "IF • Já tem thread?": {
      "main": [
        [ { "node": "HTTP • Executar Assistente", "type": "main", "index": 0 } ],
        [ { "node": "HTTP • Criar Token Temporário (WTS)", "type": "main", "index": 0 } ]
      ]
    },
    "HTTP • Criar Token Temporário (WTS)": { "main": [ [ { "node": "HTTP • Buscar Histórico (WTS)", "type": "main", "index": 0 } ] ] },
    "HTTP • Buscar Histórico (WTS)": { "main": [ [ { "node": "HTTP • Criar Thread", "type": "main", "index": 0 } ] ] },
    "HTTP • Criar Thread": { "main": [ [ { "node": "Code • Formatar Histórico", "type": "main", "index": 0 } ] ] },
    "Code • Formatar Histórico": { "main": [ [ { "node": "HTTP • Add Mensagem (contexto)", "type": "main", "index": 0 } ] ] },
    "HTTP • Add Mensagem (contexto)": { "main": [ [ { "node": "HTTP • Add Mensagem (pergunta)", "type": "main", "index": 0 } ] ] },
    "HTTP • Add Mensagem (pergunta)": { "main": [ [ { "node": "Supabase • Salvar thread", "type": "main", "index": 0 } ] ] },
    "Supabase • Salvar thread": { "main": [ [ { "node": "HTTP • Executar Assistente", "type": "main", "index": 0 } ] ] },
    "HTTP • Executar Assistente": { "main": [ [ { "node": "Wait 1s", "type": "main", "index": 0 } ] ] },
    "Wait 1s": { "main": [ [ { "node": "HTTP • Verificar Status", "type": "main", "index": 0 } ] ] },
    "HTTP • Verificar Status": { "main": [ [ { "node": "IF • Run finalizado?", "type": "main", "index": 0 } ] ] },
    "IF • Run finalizado?": {
      "main": [
        [ { "node": "HTTP • Buscar Mensagens", "type": "main", "index": 0 } ],
        [ { "node": "Wait 1s", "type": "main", "index": 0 } ]
      ]
    },
    "HTTP • Buscar Mensagens": { "main": [ [ { "node": "Respond to Webhook", "type": "main", "index": 0 } ] ] }
  }
}
